PORT=4000
DATABASE_URL="mysql://FoMvSW2w64po8Xv.root:ZnAnabdM87KGagas@gateway01.ap-southeast-1.prod.alicloud.tidbcloud.com:4000/pylearn?sslaccept=strict"
JWT_ACCESS_SECRET="d6a5b5ea5d3efcbd43fee8ea02ee053f6ffa1acf60bc15412ee868886f60afc8"
JWT_REFRESH_SECRET="fbc02f0cd1b3290bcb1f3ea87d760e59ef223a22a49083bcaabc8821bb128a8b"
GOOGLE_CLIENT_ID="778554397355-cp5qrp9sdva05kvbo003l1gio518lvku.apps.googleusercontent.com"
GOOGLE_CLIENT_SECRET="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"
GOOGLE_REDIRECT_URI="https://program-learner-backend.onrender.com/api/auth/google/callback"
FRONTEND_URL="https://program-learner.onrender.com"
COOKIE_DOMAIN="program-learner-backend.onrender.com"
